// main: ../style.less

.presentation {
  padding-bottom: 50px;
}

.about {
  margin: 126px 0;

  @media @tablet {
    margin: 60px 0;
  }
}

.about__inner {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 1110px;

  @media @mobile {
    flex-wrap: wrap;
  }
}


/*.about__photo,
.about__content {
  width: 50%;

  @media @tablet {
    width: 100%;
  }
}*/

.about__photo {

   @media @mobile {
     margin: auto;
   }

  .img-doctor {
    position: relative;
    bottom: 0;
    z-index: 2;

    @media @tablet {
      width: 400px;
      height: auto;
    }
    @media @mobile-sm {
      width: 300px;
    }
  }

  &::before {
    content: "";
    display: block;
    width: 520px;
    height: 415px;
    background-color: #662a63;
    position: absolute;
    left: 15px;
    top: 170px;
    z-index: 1;

    @media @tablet {
      width: 41%;
      left: 14px;
      top: 105px;
      height: 340px;
    }

    @media @mobile {
      width: 62%;
      left: 122px;
    }

    @media @mobile-sm {
      width: 86%;
      left: 25px;
      height: 300px;
      top: 39px;
    }
  }
}

.about__content {
  padding-left: 48px;

  @media @tablet {
    order: 1;
    padding-left: 0;
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

  }
}

.about__title {
  font-size: 30px;
  color: @black;
  font-weight: 700;

  @media @notebook {
    font-size: 37.5px;
  }

  @media @mobile {
    font-size: 30px;
  }
}

.about__text {
  font-size: 13px;
  margin-bottom: 30px;
  color: @black;
  line-height: 2;
  font-weight: 300;
}

.presentation__specifications {
  padding: 20px 0px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;

  @media @mobile-sm {
    flex-wrap: wrap;
    padding-top: 0;
  }
}

.specification__item {
  color: @black;
}