// main: ../style.less

.promo {
  padding-bottom: 100px;

  @media @mobile {
    padding-bottom: 20px;
  }
}

.promo__name {
  padding-top: 30px;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 10px;

  @media @mobile {
    font-size: 30px;
    padding-top: 15px;
  }
}

.promo__content {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 40px;

  @media @mobile-sm {
    margin-top: 20px;
    padding-bottom: 60px;
  }
}

.promo__photo {
  display: block;
  max-width: 291px;
  max-height: 400px;
  height: auto;

  @media @notebook {
    max-width: 200px;
    max-height: 300px;  
  }

  @media @mobile {
    max-width: 150px;
    max-height: 200px;
  }

  @media @mobile-sm {
    max-width: 100px;
    max-height: 150px;
  }
}

.promo__specifications {
  padding-left: 150px;
  padding-top: 110px;
  list-style-type: none;
  line-height: 40px;
  font-size: 18px;
  text-align: center;

  @media @notebook {
    padding-top: 60px;
  }

  @media @mobile-sm {
    padding-left: 50px;
    padding-top: 0;
    font-size: 16px;
    line-height: 20px;
  }
}

.promo__specifications-link {
  margin-top: 30px;
}

.promo__video {
  position: absolute;
  top: 0;
  left: calc(50vw - 100vw / 2);
  max-width: @containerWidth;
  max-height: 676px;
  object-fit: cover;
  width: 100%;
  z-index: -1;
  opacity: 84%;

  @media @desktop {
    left: calc(50vw - @containerWidth / 2);
  }

  @media @mobile-sm {
    min-height: 300px;
  }
}